*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Onest', sans-serif;
}
body{
    width: 1310px;
    height:  620px;
    margin: 0 auto;
    overflow: hidden;
}
header{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar{
    width: 1100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo__link {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.logo__icon{
    width: 35px;
    height: 35px;
}
.notify{
    width: 35px;
    height: 35px;
}
.logo__link h1 {
    font-family: 'Onest', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #111;
}

.wrapper{
    width: 1100px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left__col,
.right__col{
    width: 520px;
    height: 100%;
}
.illustration__wrapper{
    width: 100%;
    height: 420px;
}
.button__wrapper{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.add__task{
    width: 28px;
    height: 28px;
}
.btn__add{
    border: none;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    cursor: pointer;
}
#todo__form{
    width: 512px;
    height: 174px;
    background: #F8F7F7;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
input[type="text"], input[type="time"]{
    background: #F8F7F7;
    border: none;
    outline: none;
    font-family: 'Onest', sans-serif;
}
.form__details{
    width: 390px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: 15px;
}
.edit__btn{
    width: 90px;
    height: 100%;
}
#task__title{
    font-size: 24px;
    font-weight: 600;
    color: #111;
}
#task__title::placeholder{
    font-size: 24px;
    font-weight: 600;
    color: #111;
}
#detail__txt,
#time__txt{
    font-size: 18px;
    font-weight: 500;
    color: #111;
}
#detail__txt::placeholder,
#time__txt::placeholder{
    font-size: 18px;
    font-weight: 500;
    color: #2C2C2C;
}
.row__title{
    width: 100%;
    height: 35px;
}
.row__detail,
.row__time{
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}